* {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background: white;
  height: 170px;
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 20px;
}

.logo {
  top: 20px;
  left: 20px;
  float: left;
}

header img {
  padding: 30px;
  width: 100px;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.nav-item {
  font-size: 14px;
  padding: 23px 24px;
  margin: 0px 1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}
.nav-item:hover {
  color: white;
  background: rgb(20, 20, 20);
  cursor: pointer;
}
/* .main img {
  display: block;
  margin: 75px auto;
  margin-top: 10px;
  width: 80%;
} */
.header-primary {
  text-align: center;

  color: white;
}
.discription {
  text-align: center;
  color: aliceblue;
  font-size: 15px;
  padding: 15px;
}
.main {
  background: linear-gradient(white, black);
  margin-top: 30px;
}
.dep {
  background: black;
  display: flex;
  justify-content: space-evenly;
  padding: 60px;
}
.departments {
  width: 80%;
  text-align: center;
  color: antiquewhite;
  padding: 20px;
}
h1 {
  padding: 20px;
}
footer {
  background: rgb(180, 180, 3);
  text-align: center;
  padding: 50px;
}
#slider {
  overflow: hidden;
  width: 80%;
  display: block;
  margin: 75px auto;
  margin-top: 10px;
}
#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
#slider figure img {
  width: 20%;
  float: left;
}
@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
.placement {
  text-align: center;
  padding: 70px;
  background: linear-gradient(white, aqua);
}
.placement h2,
h3 {
  padding: 25px;
}
@media (max-width: 700px) {
  header img {
    padding: 15px;
    width: 60px;
    top: 10px;
    left: 10px;
    float: left;
  }
  header h1 {
    font-size: 20px;
  }
  header h2 {
    font-size: 15px;
    text-align: center;
  }
  nav {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }
  .nav-item {
    font-size: 9px;
    padding: 5px;
    margin: 0px 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: 600;
    text-decoration: none;
    color: black;
  }
  .nav-item:hover {
    color: white;
    background: rgb(20, 20, 20);
    cursor: pointer;
  }
  .dep {
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 60px;
  }
  .departments {
    width: 90%;
    text-align: center;
    color: antiquewhite;
    padding: 10px;
  }
  .discription {
    padding: 60px;
  }
}
